*.pyc
*.xml
.gitignore
.idea
/discord_surveys/
__pycache__
discord_surveys/__init__.py
discord_surveys/survey.py
resources/key.key
resources/mammals.json
resources/variables.json
survey_chart.jpg
resources/images
resources/images/make_slowking.png
/changelog.md
/husk_messages.txt
