asyncio==3.4.3
beautifulsoup4==4.9.2
bitlyshortener==0.4.2
discord.py==1.5.0
ffmpeg==1.4
markovify==0.8.3
numpy==1.19.2
pandas==1.1.2
Pillow==7.2.0
praw==7.1.0
PyMySQL==0.10.1
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
youtube-dl==2020.9.20