discord
pytz
cffi
unidecode
Pillow
beautifulsoup4
numpy
pandas
pymysql
markovify
praw
opencv-python-headless
opencv-python-headless
cfbd
youtube_dl
ffmpeg
cryptography
validators
# pyhton-dotenv  # manual install?
# Verified 5-July-2021